*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main_box
{
    background-image: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}

.btn_one i
{
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
}
.sidebar_menu .btn_two i
{
    color: gray;
    position: absolute;
    left: 270px;
    font-size: 30px;
    line-height: 50px;
    cursor: pointer;
}
.sidebar_menu
{
    position: fixed;
    width: 300px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
    left: -300px;
    transition: all 0.2 linear;
}

.sidebar_menu .logo
{
    position: absolute;
    height: 50px;
    width: 100%;
    line-height: 50px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4); 
}
.sidebar_menu .logo a
{
    color: white;
    position: absolute;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    left: 85px;
}

.sidebar_menu .menu
{
    text-decoration: none;
    color: white;
    position: absolute;
    top: 60px;
    width: 100%;
    
}

.sidebar_menu .menu li{
    margin-top: 5px;
    padding: 10px 20px;
}
.sidebar_menu .menu a
{
    color: white;
    text-decoration: none;
    padding-left: 6px;
}

.social_media
{
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.social_media i
{
    color:rgba(255, 255, 255, 0.6);
    padding-left: 5px;
}

#check
{
    display: none;
}

.social_media i:hover
{
    color:rgba(255, 255, 255, 1);
    transform: scale(1.2);
}
.sidebar_menu .menu li:hover
{
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.sidebar_menu .btn_two i:hover
{
    font-size: 35px;
}

.btn_one i:hover
{
    font-size: 35px;
}

#check:checked~ .sidebar_menu
{
    left: 0px;

}
#check:checked~ .btn_one
{
    display: none;
}